section{
    padding: 60px 0px;
}
h1{
    font-size: 18px;
}
footer{
    background-color: #2A254B;
    padding-top: 40px;
}
footer a{
    text-decoration: none;
    color: #fff;
}
footer .col-xl-3 p{
    color: #fff;
}
#line{
    border-top: 1px solid #fff;
}
.menu_points a{
    text-decoration: none;
    color: black;
}
@media screen and (max-width:575px){
    .menu_points{
        flex-direction: column;
    }
    .logo{
        max-width: 20px;
    }
    #rast{
        margin-bottom: 20px!important;
    }
}